<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="0; url=<%= page.target || '/zh-cn/' %>">
    <link rel="canonical" href="<%= page.target || '/zh-cn/' %>">
    <title><%= config.title %></title>
  </head>
  <body>
    <p><a href="<%= page.target || '/zh-cn/' %>">Continue</a></p>
  </body>
</html>
